# requirements.txt

datasets>=2.0.0
tqdm>=4.0.0
transformers
torch
openai
cohe
llama-index-embeddings-cohere
llama-index-llms-openai
llama-index-embeddings-openai
llama-index-embeddings-huggingface
llama-index-retrievers-bm25
rank_bm25
nltk
